Repository MediaPortal/MediaPortal-1, pull requests merged in 2024-05, with the labels that each got.

#309 MP1-5218: DeployTools: Transferring program installation to a separate thread
  Tools/MediaPortal.DeployTool/InstallationChecks/DirectX9Checker.cs
  Tools/MediaPortal.DeployTool/InstallationChecks/DotNetFrameworkChecker.cs
  Tools/MediaPortal.DeployTool/InstallationChecks/MPEInstall.cs
  Tools/MediaPortal.DeployTool/InstallationChecks/MSSQLExpressChecker.cs
  Tools/MediaPortal.DeployTool/InstallationChecks/MariaDBChecker.cs
  Tools/MediaPortal.DeployTool/InstallationChecks/MediaPortalChecker.cs
  Tools/MediaPortal.DeployTool/InstallationChecks/MySQLChecker.cs
  Tools/MediaPortal.DeployTool/InstallationChecks/TvPluginChecker.cs
  Tools/MediaPortal.DeployTool/InstallationChecks/TvServerChecker.cs
  Tools/MediaPortal.DeployTool/InstallationChecks/VCRedistChecker_2008.cs
  Tools/MediaPortal.DeployTool/InstallationChecks/VCRedistChecker_2010.cs
  Tools/MediaPortal.DeployTool/InstallationChecks/VCRedistChecker_2013.cs
  Tools/MediaPortal.DeployTool/InstallationChecks/VCRedistChecker_2015.cs
  Tools/MediaPortal.DeployTool/InstallationChecks/WindowsMediaPlayerChecker.cs
  Tools/MediaPortal.DeployTool/Utils.cs
Labels: large, stability/medium

#310 MP1.34.Pre: Bump version number and set INFO level to DEBUG
  Common-MP-TVE3/SolutionInfo.cs
  Tools/InstallationScripts/include/MediaPortalCurrentVersion.nsh
  Tools/MediaPortal.DeployTool/Utils.cs
  TvEngine3/TVLibrary/TVDatabase/TvBusinessLayer/BusinessLayer.cs
  appveyor.yml
  mediaportal/Configuration/App.config
  mediaportal/Configuration/Sections/General.cs
  mediaportal/MediaPortal.Application/App.config
  mediaportal/Utils/ServiceImplementations/LogImpl.cs
Labels: extra small, stability/medium

#311 Moving files from MePo theme Titan skin with FanartHandler support
  mediaportal/MediaPortal.Base/skin/Titan/DialogPinCode.xml
  mediaportal/MediaPortal.Base/skin/Titan/DialogVideoInfo.xml
  mediaportal/MediaPortal.Base/skin/Titan/common.overlay.xml
  mediaportal/MediaPortal.Base/skin/Titan/dialogGeneralRating.xml
  mediaportal/MediaPortal.Base/skin/Titan/mytvrecordedtv.xml
  mediaportal/MediaPortal.Base/skin/Titan/myvideo.mediainfo.xml
  mediaportal/MediaPortal.Base/skin/Titan/videoFullScreen.xml
  mediaportal/MediaPortal.Base/skin/Titan/videoOSD.xml
Labels: large, stability/medium, Skin

#314 Restore original mytvrecordedtv.xml file
  mediaportal/MediaPortal.Base/skin/Titan/mytvrecordedtv.xml
Labels: large, stability/medium

#315 MP1-5214: Add PixelShader support
  mediaportal/Core/Core.csproj
  mediaportal/Core/guilib/IDialogboxKeyboard.cs
  mediaportal/Core/guilib/PixelShaderCollection.cs
  mediaportal/Dialogs/Dialogs/GUIDialogVirtualKeyboard.cs
  mediaportal/MediaPortal.Base/language/strings_cs.xml
  mediaportal/MediaPortal.Base/language/strings_en.xml
Labels: large, stability/medium
