Repository MediaPortal/MediaPortal-1, pull requests merged in 2024-04, with the labels that each got.

#295 MP1-5211: Fix initial volume/mute/table in VolumeHandler
  mediaportal/Core/Mixer/Mixer10.cs
  mediaportal/Core/Player/VolumeHandler.cs
  mediaportal/Core/Player/VolumeHandlerCustom.cs
  mediaportal/Core/Util/HideVolumeOSDLib.cs
Labels: small, stability/medium

#296 MP1-5212: Core: VMR9: Check IVideoWindow for null if MadVR is used
  mediaportal/Core/Player/VMR9.cs
Labels: Engine, small, stability/medium

#297 MP1-5213: MPAudioRenderer: Fix desctructor call to prevent MediaPorta…
  DirectShowFilters/MPAudioRenderer/source/MpAudioRenderer.cpp
Labels: small, stability/medium

#298 MP1-5214: Add PixelShader support
  TvEngine3/TVLibrary/TvPlugin/TvPlugin/TvFullScreen.cs
  mediaportal/Core/Core.csproj
  mediaportal/Core/Player/PlaneScene.cs
  mediaportal/Core/guilib/GraphicContext.cs
  mediaportal/Core/guilib/PixelShaderCollection.cs
  mediaportal/MediaPortal.Base/Shaders/0-255 to 16-235.hlsl
  mediaportal/MediaPortal.Base/Shaders/16-235 to 0-255 [SD].hlsl
  mediaportal/MediaPortal.Base/Shaders/16-235 to 0-255 [SD][HD].hlsl
  mediaportal/MediaPortal.Base/Shaders/16-235 to 0-255.hlsl
  mediaportal/MediaPortal.Base/Shaders/Adaptive sharpen.hlsl
  mediaportal/MediaPortal.Base/Shaders/BT.601 to BT.709 [HD].hlsl
  mediaportal/MediaPortal.Base/Shaders/BT.601 to BT.709.hlsl
  mediaportal/MediaPortal.Base/Shaders/Contour.hlsl
  mediaportal/MediaPortal.Base/Shaders/Deinterlace (blend).hlsl
  mediaportal/MediaPortal.Base/Shaders/Denoise.hlsl
  mediaportal/MediaPortal.Base/Shaders/Edge sharpen.hlsl
  mediaportal/MediaPortal.Base/Shaders/Emboss.hlsl
  mediaportal/MediaPortal.Base/Shaders/Gaussian Blur 3x3.hlsl
  mediaportal/MediaPortal.Base/Shaders/Gaussian Blur_pass1.hlsl
  mediaportal/MediaPortal.Base/Shaders/Gaussian Blur_pass2.hlsl
  mediaportal/MediaPortal.Base/Shaders/Grayscale.hlsl
  mediaportal/MediaPortal.Base/Shaders/Invert.hlsl
  mediaportal/MediaPortal.Base/Shaders/LCD angle correction.hlsl
  mediaportal/MediaPortal.Base/Shaders/Letterbox.hlsl
  mediaportal/MediaPortal.Base/Shaders/LumaSharpen.hlsl
  mediaportal/MediaPortal.Base/Shaders/Nightvision.hlsl
  mediaportal/MediaPortal.Base/Shaders/Procamp.hlsl
  mediaportal/MediaPortal.Base/Shaders/Sepia.hlsl
  mediaportal/MediaPortal.Base/Shaders/Sharpen complex 2.hlsl
  mediaportal/MediaPortal.Base/Shaders/Sharpen complex.hlsl
  mediaportal/MediaPortal.Base/Shaders/Sharpen.hlsl
  mediaportal/MediaPortal.Base/Shaders/Sphere.hlsl
  mediaportal/MediaPortal.Base/Shaders/Spotlight.hlsl
  mediaportal/MediaPortal.Base/Shaders/Threshold.hlsl
  mediaportal/MediaPortal.Base/Shaders/Wave.hlsl
  mediaportal/MediaPortal.Base/Shaders/YV12 chroma upsampling.hlsl
  mediaportal/MediaPortal.Base/language/strings_en.xml
  mediaportal/Setup/setup.nsi
  mediaportal/WindowPlugins/Common.GUIPlugins/Video/GUIVideoFullscreen.cs
Labels: large, stability/medium

#299 PinCode images changed to black and blue
  mediaportal/MediaPortal.Base/skin/Titan/DialogPinCode.xml
Labels: extra small, stability/medium, Skin

#300 MP1.34-Pre: Titan - PinCode images changed to black and blue
  mediaportal/MediaPortal.Base/skin/Titan/DialogPinCode.xml
Labels: extra small, stability/medium, Skin

#302 MP1-5215: Add MySQL.Interceptor and Read TV Server dependencies in SetupTV
  Common-MP-TVE3/External/Gentle.NET/Source/Gentle.NET.sln
  Common-MP-TVE3/External/Gentle.NET/Source/Gentle.Provider.MySQL.Interceptor/AssemblyInfo.cs
  Common-MP-TVE3/External/Gentle.NET/Source/Gentle.Provider.MySQL.Interceptor/Gentle.Provider.MySQL.Interceptor.csproj
  Common-MP-TVE3/External/Gentle.NET/Source/Gentle.Provider.MySQL.Interceptor/Gentle.snk
  Common-MP-TVE3/External/Gentle.NET/Source/Gentle.Provider.MySQL.Interceptor/Interceptor.cs
  Common-MP-TVE3/External/Gentle.NET/Source/Gentle.Provider.MySQL.Interceptor/README.md
  Common-MP-TVE3/External/Gentle.NET/Source/Gentle.Provider.MySQL.Interceptor/Utf8mb3.cs
  Common-MP-TVE3/External/Gentle.NET/Source/Gentle.Provider.MySQL/Gentle.Provider.MySQL.csproj
  Common-MP-TVE3/External/Gentle.NET/Source/Gentle.Provider.MySQL/MySQLProvider.cs
  TvEngine3/TVLibrary/Setup/setup.nsi
  TvEngine3/TVLibrary/SetupTv/ServiceHelper.cs
  TvEngine3/TVLibrary/SetupTv/SetupDatabaseForm.cs
  TvEngine3/TVLibrary/TVDatabase/references/Gentle.Common.dll
  TvEngine3/TVLibrary/TVDatabase/references/Gentle.Framework.dll
  TvEngine3/TVLibrary/TVDatabase/references/Gentle.Provider.Firebird.dll
  TvEngine3/TVLibrary/TVDatabase/references/Gentle.Provider.MySQL.Interceptor.dll
  TvEngine3/TVLibrary/TVDatabase/references/Gentle.Provider.MySQL.dll
  TvEngine3/TVLibrary/TVDatabase/references/Gentle.Provider.SQLServer.dll
  TvEngine3/TVLibrary/TVDatabase/references/Gentle.Provider.SQLite.dll
Labels: TV, Engine, large, stability/medium

#304 MP1-5216: Don't make queries if the SQLite database is not open
  mediaportal/Databases/SQLiteClient.cs
Labels: Engine, extra small, stability/medium

#305 MP1-5019: Add MariaDB as TVServer Database Upgrade MySQL
  Tools/MediaPortal.DeployTool/DialogFlowHandler.cs
  Tools/MediaPortal.DeployTool/InstallationChecks/MariaDBChecker.cs
  Tools/MediaPortal.DeployTool/InstallationChecks/MySQLChecker.cs
  Tools/MediaPortal.DeployTool/InstallationChecks/TvServerChecker.cs
  Tools/MediaPortal.DeployTool/InstallationChecks/WindowsFirewallChecker.cs
  Tools/MediaPortal.DeployTool/MediaPortal.DeployTool.Designer.cs
  Tools/MediaPortal.DeployTool/MediaPortal.DeployTool.cs-CZ.resx
  Tools/MediaPortal.DeployTool/MediaPortal.DeployTool.csproj
  Tools/MediaPortal.DeployTool/MediaPortal.DeployTool.da-DK.resx
  Tools/MediaPortal.DeployTool/MediaPortal.DeployTool.de-AT.resx
  Tools/MediaPortal.DeployTool/MediaPortal.DeployTool.de-DE.resx
  Tools/MediaPortal.DeployTool/MediaPortal.DeployTool.el-GR.resx
  Tools/MediaPortal.DeployTool/MediaPortal.DeployTool.es-ES.resx
  Tools/MediaPortal.DeployTool/MediaPortal.DeployTool.fr-FR.resx
  Tools/MediaPortal.DeployTool/MediaPortal.DeployTool.hr-HR.resx
  Tools/MediaPortal.DeployTool/MediaPortal.DeployTool.it-IT.resx
  Tools/MediaPortal.DeployTool/MediaPortal.DeployTool.ja-JP.resx
  Tools/MediaPortal.DeployTool/MediaPortal.DeployTool.mk-MK.resx
  Tools/MediaPortal.DeployTool/MediaPortal.DeployTool.nb-NO.resx
  Tools/MediaPortal.DeployTool/MediaPortal.DeployTool.nl-NL.resx
  Tools/MediaPortal.DeployTool/MediaPortal.DeployTool.pl-PL.resx
  Tools/MediaPortal.DeployTool/MediaPortal.DeployTool.pt-BR.resx
  Tools/MediaPortal.DeployTool/MediaPortal.DeployTool.pt-PT.resx
  Tools/MediaPortal.DeployTool/MediaPortal.DeployTool.resx
  Tools/MediaPortal.DeployTool/MediaPortal.DeployTool.ro-RO.resx
  Tools/MediaPortal.DeployTool/MediaPortal.DeployTool.ru-RU.resx
  Tools/MediaPortal.DeployTool/MediaPortal.DeployTool.sk-SK.resx
  Tools/MediaPortal.DeployTool/MediaPortal.DeployTool.sl-SI.resx
  Tools/MediaPortal.DeployTool/MediaPortal.DeployTool.sr-Cyrl-CS.resx
  Tools/MediaPortal.DeployTool/MediaPortal.DeployTool.sr-Latn-CS.resx
  Tools/MediaPortal.DeployTool/MediaPortal.DeployTool.sv-SE.resx
  Tools/MediaPortal.DeployTool/MediaPortal.DeployTool.tr-TR.resx
  Tools/MediaPortal.DeployTool/MediaPortal.DeployTool.zh-CN.resx
  Tools/MediaPortal.DeployTool/Sections/BaseInstallationTypeDlg.cs
  Tools/MediaPortal.DeployTool/Sections/DBMSSettingsDlg.cs
  Tools/MediaPortal.DeployTool/Sections/DBMSTypeDlg.Designer.cs
  Tools/MediaPortal.DeployTool/Sections/DBMSTypeDlg.cs
  Tools/MediaPortal.DeployTool/Sections/InstallDlg.Designer.cs
  Tools/MediaPortal.DeployTool/Sections/InstallDlg.cs
  Tools/MediaPortal.DeployTool/Sections/MySQLChoice.cs
  Tools/MediaPortal.DeployTool/Sections/MySQLChoice.designer.cs
  Tools/MediaPortal.DeployTool/Sections/UpgradeDlg.cs
Labels: TV, large, stability/medium

#306 MP1-5217: Install .Net Framework 3.5, 4.0 if needed
  Tools/MediaPortal.DeployTool/Images.resx
  Tools/MediaPortal.DeployTool/InstallationChecks/DotNetFrameworkChecker.cs
  Tools/MediaPortal.DeployTool/MediaPortal.DeployTool.csproj
  Tools/MediaPortal.DeployTool/Resources/Application/DotNetFramework.png
  Tools/MediaPortal.DeployTool/Sections/InstallDlg.cs
Labels: dependencies, large, stability/medium

#307 MP1-5217: Add .Net 4.0 checking, and 1638 error code, Change On Click default SQL Server
  Tools/MediaPortal.DeployTool/InstallationChecks/DotNetFrameworkChecker.cs
  Tools/MediaPortal.DeployTool/Sections/BaseInstallationTypeDlg.cs
Labels: dependencies, small, stability/medium

#308 MP1-5217: Change .Net 3 command line
  Tools/MediaPortal.DeployTool/InstallationChecks/DotNetFrameworkChecker.cs
Labels: dependencies, extra small, stability/medium
