Repository MediaPortal/MediaPortal-1, pull requests merged in 2025-07, with the labels that each got.

#399 Improve logging
  TvEngine3/TVLibrary/SetupTv/SetupDatabaseForm.cs
Labels: extra small, stability/medium, enhancement

#400 fix tvgids.nl grabber
  TvEngine3/TVLibrary/TVServer.Base/WebEPG/grabbers/NL/1-www_tvgids_nl.xml
Labels: extra small, stability/medium, bug

#401 MP1.38.Final: Bump version number and set DEBUG level to INFO
  Common-MP-TVE3/SolutionInfo.cs
  Tools/InstallationScripts/include/MediaPortalCurrentVersion.nsh
  Tools/MediaPortal.DeployTool/Utils.cs
  appveyor.yml
  mediaportal/Configuration/App.config
  mediaportal/MediaPortal.Application/App.config
Labels: extra small, stability/medium

#402 MP1.38.Final: Bump version number and set DEBUG level to INFO
  Tools/MediaPortal.DeployTool/Sections/ApplicationCtrl.Designer.cs
  Tools/MediaPortal.DeployTool/Utils.cs
Labels: extra small, stability/medium

#404 MP1.38.Final: Mediaportal & Configuration Cosmetic
  Tools/MediaPortal.DeployTool/Sections/UpgradeDlg.Designer.cs
  mediaportal/Configuration/ConfigSplashScreen.cs
  mediaportal/Configuration/Sections/Project.designer.cs
  mediaportal/MediaPortal.Application/FullScreenSplashScreen.Designer.cs
  mediaportal/MediaPortal.Application/SplashScreen.cs
Labels: extra small, stability/medium

#405 MP1.38.Final: Deploy Tools Cosmetic
  Tools/MediaPortal.DeployTool/Sections/UpgradeDlg.Designer.cs
Labels: extra small, stability/medium

#406 MP1-5250: Ignore `The` for Sort Name in MyVideo
  mediaportal/Configuration/Sections/MovieDatabase.Designer.cs
  mediaportal/Configuration/Sections/MovieDatabase.cs
  mediaportal/Configuration/Sections/MovieDatabase.resx
  mediaportal/Databases/Video/SqlLite/VideoDatabaseSqlLite.cs
Labels: medium, stability/medium

#416 Completed MP1-5245: Get rid of buggy pointer arithmetics
  TvEngine3/TVLibrary/TVLibrary/Implementations/DVB/ConditionalAccess/TwinHan/Twinhan.cs
Labels: small, stability/medium
