Repository MediaPortal/MediaPortal-1, pull requests merged in 2025-02, with the labels that each got.

#360 MP1-5235: TvLibrary: Add x64 compatibility to TvMovie plugin
  TvEngine3/TVLibrary/Plugins/TvMovie/TvMovie.cs
  TvEngine3/TVLibrary/Plugins/TvMovie/TvMovie.csproj
  TvEngine3/TVLibrary/Plugins/TvMovie/TvMovieDatabase.cs
  TvEngine3/TVLibrary/Plugins/TvMovie/TvMovieDatabaseConnection.cs
  TvEngine3/TVLibrary/Plugins/TvMovie/TvMovieDbReader/Program.cs
  TvEngine3/TVLibrary/Plugins/TvMovie/TvMovieDbReader/Properties/AssemblyInfo.cs
  TvEngine3/TVLibrary/Plugins/TvMovie/TvMovieDbReader/TvMovieDbReader.csproj
  TvEngine3/TVLibrary/Plugins/TvMovie/TvMovieDbReader/app.config
  TvEngine3/TVLibrary/Setup/setup.nsi
  TvEngine3/TVLibrary/TvLibrary.sln
Labels: TV, large, stability/medium

#362 Fixed MP1-5236: Add support for m3u8 files
  CODE_OF_CONDUCT.md
  SECURITY.md
  TvEngine3/TVLibrary/SetupTv/PlaylistSupport/PlayListFactory.cs
  TvEngine3/TVLibrary/SetupTv/PlaylistSupport/PlayListM3uIO.cs
  TvEngine3/TVLibrary/SetupTv/Sections/CardDvbIP.cs
Labels: extra small, stability/medium

#363 MP1-5237: Channel numbers in the radio EPG
  mediaportal/Configuration/Sections/Radio.cs
  mediaportal/Configuration/Sections/Radio.resx
Labels: medium, stability/medium

#364 MP1-5236: Add support for m3u8 files
  TvEngine3/TVLibrary/SetupTv/PlaylistSupport/PlayListM3uIO.cs
  TvEngine3/TVLibrary/SetupTv/SettingsForm.cs
  TvEngine3/TVLibrary/TvService/CardManagement/CardAllocation/AdvancedCardAllocation.cs
Labels: large, stability/medium

#365 MP1-5236: Add support for m3u8 files
  TvEngine3/TVLibrary/SetupTv/Sections/CardDvbIP.cs
Labels: large, stability/medium
