Repository MediaPortal/MediaPortal-1, pull requests merged in 2025-06, with the labels that each got.

#386 Bump builder to Windows 2022
  .github/workflows/mediaportal.yml
  .github/workflows/workflow_codeql.yml
Labels: dependencies, extra small, stability/medium

#389 MP1-5107: Improve tvgids.nl webepggrabber
  TvEngine3/TVLibrary/TVServer.Base/WebEPG/grabbers/NL/1-www_tvgids_nl.xml
Labels: TV, extra small, stability/medium, enhancement

#391 Fixed build on windows-2022 runner
  DirectShowFilters/BDReader/BDReader.vcxproj
  DirectShowFilters/Core-CC-Parser/ax/CCCP.vcxproj
  DirectShowFilters/DVBSubtitle3/DVBSubtitle3.vcxproj
  DirectShowFilters/DXErr9/dxerr9.vcxproj
  DirectShowFilters/DXUtil/DXUtil.vcxproj
  DirectShowFilters/DirectShowHelper/dshowhelper.vcxproj
  DirectShowFilters/DvbCoreUtils/DvbCoreUtils.vcxproj
  DirectShowFilters/LiveMedia555/LiveMedia555.vcxproj
  DirectShowFilters/MPAudioRenderer/AudioRenderer.vcxproj
  DirectShowFilters/MPAudioswitcher/MPAudioSwitcher.vcxproj
  DirectShowFilters/MPIPTVSource/MPIPTVSource/MPIPTVSource.vcxproj
  DirectShowFilters/MPIPTVSource/MPIPTV_FILE/MPIPTV_FILE.vcxproj
  DirectShowFilters/MPIPTVSource/MPIPTV_HTTP/MPIPTV_HTTP.vcxproj
  DirectShowFilters/MPIPTVSource/MPIPTV_RTP/MPIPTV_RTP.vcxproj
  DirectShowFilters/MPIPTVSource/MPIPTV_RTSP/MPIPTV_RTSP.vcxproj
  DirectShowFilters/MPIPTVSource/MPIPTV_UDP/MPIPTV_UDP.vcxproj
  DirectShowFilters/MPWriter/MPWriter.vcxproj
  DirectShowFilters/StreamingServer/StreamingServer.vcxproj
  DirectShowFilters/TsMuxer/TsMuxer.vcxproj
  DirectShowFilters/TsReader/TsReader.vcxproj
  DirectShowFilters/TsWriter/MPTSWriter.vcxproj
  DirectShowFilters/Win7RefreshRateHelper/Win7RefreshRateHelper.vcxproj
  DirectShowFilters/baseclasses/BaseClasses.vcxproj
  DirectShowFilters/dvblib/dvblib.vcxproj
  DirectShowFilters/fontEngine/fontEngine.vcxproj
  DirectShowFilters/mpc-hc_subs/src/mpc-hc_subs/mpc-hc_subs.vcxproj
  Tools/MPx86Proxy/MPx86Proxy/MPx86Proxy.csproj
  Tools/MPx86Proxy/MPx86Proxy/Properties/Resources.Designer.cs
  Tools/MPx86Proxy/MPx86Proxy/app.config
  Tools/MediaPortal.DeployTool/Images.Designer.cs
  Tools/MediaPortal.DeployTool/MediaPortal.DeployTool.Designer.cs
  Tools/MediaPortal.DeployTool/MediaPortal.DeployTool.csproj
  Tools/MediaPortal.DeployTool/Properties/Settings.Designer.cs
  Tools/MediaPortal.DeployTool/app.config
  TvEngine3/TVLibrary/Plugins/TvMovie/TvMovieDbReader/TvMovieDbReader.csproj
  TvEngine3/TVLibrary/Plugins/TvMovie/TvMovieDbReader/app.config
Labels: dependencies, large, stability/medium, enhancement

#392 MP1.38.Pre_Test: Chore: actions cleanup
  .github/workflows/mediaportal.yml
  .github/workflows/workflow_codeql.yml
Labels: extra small, stability/medium

#393 MP1-5247: Add Star rating and Favorites to My Pictures
  mediaportal/Core/guilib/GUIListItem.cs
  mediaportal/Core/guilib/GUIWindow.cs
  mediaportal/Databases/DatabaseUtility.cs
  mediaportal/Databases/Pictures/ADO/PictureDatabaseADO.cs
  mediaportal/Databases/Pictures/Database.cs
  mediaportal/Databases/Pictures/IPictureDatabase.cs
  mediaportal/Databases/Pictures/SqlLite/PictureDatabaseSqlLite.cs
  mediaportal/Dialogs/Dialogs.csproj
  mediaportal/Dialogs/Dialogs/GUIDialogUserRating.cs
  mediaportal/MediaPortal.Base/language/strings_en.xml
  mediaportal/MediaPortal.Base/language/strings_ru.xml
  mediaportal/MediaPortal.Base/skin/DefaultWideHD/DialogUserRating.xml
  mediaportal/MediaPortal.Base/skin/Titan/DialogUserRating.xml
  mediaportal/MediaPortal.Base/skin/Titan/Media/Favorite.png
  mediaportal/MediaPortal.Base/skin/Titan/mypics.xml
  mediaportal/WindowPlugins/GUIPictures/GUIPictures.cs
  mediaportal/WindowPlugins/GUIPictures/GUISlidePicture.cs
  mediaportal/WindowPlugins/GUIPictures/PictureSort.cs
Labels: Engine, large, stability/medium, enhancement, database

#394 MP1.38.Pre: Change VCRedistr 2015 to 2015-2022
  Tools/MediaPortal.DeployTool/ApplicationLocations.xml
  Tools/MediaPortal.DeployTool/Images.Designer.cs
  Tools/MediaPortal.DeployTool/Images.resx
  Tools/MediaPortal.DeployTool/InstallationChecks/VCRedistChecker_2022.cs
  Tools/MediaPortal.DeployTool/MediaPortal.DeployTool.csproj
  Tools/MediaPortal.DeployTool/Resources/Application/VC2022.png
  Tools/MediaPortal.DeployTool/Sections/InstallDlg.cs
Labels: dependencies, large, stability/medium

#397 MP1-5249: Update SQLite to 3.50.1
  mediaportal/Core/Core.csproj
  mediaportal/Core/packages.config
  mediaportal/MediaPortal.Application/PostBuild.bat
  mediaportal/Setup/setup.nsi
Labels: dependencies, extra small, stability/medium, database

#398 MP1-5249: Update SQLite to 3.50.2
  mediaportal/Core/Core.csproj
  mediaportal/Core/packages.config
  mediaportal/MediaPortal.Application/PostBuild.bat
  mediaportal/Setup/setup.nsi
Labels: dependencies, extra small, stability/medium, database
