Repository MediaPortal/MediaPortal-1, pull requests merged in 2025-08, with the labels that each got.

#417 MP1.38.Final: Fix for MySQL: Retrieval of the RSA public key is not enabled for insecure connections
  TvEngine3/TVLibrary/SetupTv/SetupDatabaseForm.cs
Labels: extra small, stability/medium, bug, database

#419 MP1.38.Final: MS SQL Express fix Dependecy
  Tools/MediaPortal.DeployTool/InstallationChecks/MSSQLExpressChecker.cs
  TvEngine3/TVLibrary/SetupTv/SetupDatabaseForm.cs
  TvEngine3/TVLibrary/SetupTv/Startup.cs
Labels: extra small, stability/medium, bug, database

#420 MP1.38.Update.1: Minor version bump
  Common-MP-TVE3/SolutionInfo.cs
  Tools/InstallationScripts/include/MediaPortalCurrentVersion.nsh
  Tools/MediaPortal.DeployTool/Utils.cs
  mediaportal/Configuration/App.config
  mediaportal/MediaPortal.Application/App.config
Labels: extra small, stability/medium

#430 MP1-5245: Fixed more potential issues for buggy pointer arithmetics
  TvEngine3/TVLibrary/Plugins/ServerBlaster/ServerBlaster (Learn)/MCEDevices.cs
  TvEngine3/TVLibrary/Plugins/ServerBlaster/ServerBlaster/RemoteBlaster.cs
  TvEngine3/TVLibrary/TVLibrary/Implementations/BaseSubChannel.cs
  TvEngine3/TVLibrary/TVLibrary/Implementations/DVB/ConditionalAccess/DigitalDevices/DigitalDevices.cs
  TvEngine3/TVLibrary/TVLibrary/Implementations/DVB/ConditionalAccess/TechnoTrend/TechnoTrendAPI.cs
Labels: TV, small, stability/medium
