Repository MediaPortal/MediaPortal-1, pull requests merged in 2025-04, with the labels that each got.

#379 MP1-5243 pictures improvements
  mediaportal/Core/Util/ExifExtractor.cs
  mediaportal/Databases/Pictures/SqlLite/PictureDatabaseSqlLite.cs
  mediaportal/WindowPlugins/GUIPictures/GUIPictures.cs
Labels: large, stability/medium

#380 MP1-5244: Cinema scope is not available to remove from the list of zoom modes
  mediaportal/Configuration/Sections/BDZoom.Designer.cs
  mediaportal/Configuration/Sections/BDZoom.cs
  mediaportal/Configuration/Sections/BDZoom.resx
  mediaportal/Configuration/Sections/MovieZoom.Designer.cs
  mediaportal/Configuration/Sections/MovieZoom.cs
  mediaportal/Configuration/Sections/MovieZoom.resx
  mediaportal/Configuration/Sections/TVZoom.Designer.cs
  mediaportal/Configuration/Sections/TVZoom.cs
  mediaportal/Configuration/Sections/TVZoom.resx
  mediaportal/ProcessPlugins/ViewModeSwitcher/ViewModeSwitcherSettings.cs
  mediaportal/WindowPlugins/Common.GUIPlugins/Video/GUIVideoFullscreen.cs
Labels: small, stability/medium, bug

#381 MP1.37.Final: Bump version number and set DEBUG level to INFO
  Common-MP-TVE3/SolutionInfo.cs
  Tools/InstallationScripts/include/MediaPortalCurrentVersion.nsh
  Tools/MediaPortal.DeployTool/Utils.cs
  TvEngine3/TVLibrary/TVDatabase/TvBusinessLayer/BusinessLayer.cs
  appveyor.yml
  mediaportal/Configuration/App.config
  mediaportal/Configuration/Sections/General.cs
  mediaportal/MediaPortal.Application/App.config
  mediaportal/Utils/ServiceImplementations/LogImpl.cs
Labels: extra small, stability/medium

#383 MP1.37: GUIFadeLabel render Bug fix
  mediaportal/Core/guilib/GUIFadeLabel.cs
Labels: Engine, extra small, stability/medium, bug
